In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
df=pd.read_csv('Salary_Data.csv')
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [56]:
def fwbx(w,b,x):
    return np.dot(w,x)+b
def cost(x,y,w,b):
    m=len(x)
    sum1=0
    for i in range(m):
        sum1+=(fwbx(w,b,x[i])-y[i])**2
    return (1/(2*m))*sum1
def gradient_descent(x, y, w, b, alpha=0.01, iterations=1000):
    m = len(x)  # number of samples
    n = x.shape[1] if len(x.shape) > 1 else 1  # number of features
    costs = []
    
    for i in range(iterations):
        # Forward pass (vectorized)
        y_pred = fwbx(w, b, x)
        cost = cost(x, y, w, b)
        costs.append(cost)
        
        # Gradients (vectorized)
        dw = (1/m) * np.dot(x.T, (y_pred - y))  # Shape matches w
        db = (1/m) * np.sum(y_pred - y)
        
        # Update parameters
        if isinstance(w, (int, float)):  # Univariate case
            w -= alpha * dw
        else:  # Multivariate case
            w -= alpha * dw.flatten()
        b -= alpha * db
        
    return w, b, costs

In [57]:
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [58]:
X=df['YearsExperience']
Y=df['Salary']

In [59]:
X

0      1.1
1      1.3
2      1.5
3      2.0
4      2.2
5      2.9
6      3.0
7      3.2
8      3.2
9      3.7
10     3.9
11     4.0
12     4.0
13     4.1
14     4.5
15     4.9
16     5.1
17     5.3
18     5.9
19     6.0
20     6.8
21     7.1
22     7.9
23     8.2
24     8.7
25     9.0
26     9.5
27     9.6
28    10.3
29    10.5
Name: YearsExperience, dtype: float64

In [60]:
Y

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

In [61]:
w=0
b=0
w,b,costs=gradient_descent(X,Y,w,b)

UnboundLocalError: cannot access local variable 'cost' where it is not associated with a value

In [33]:
plt.plot(range(len(costs)),costs,marker='x')
plt.xlabel('Iteration')
plt.ylabel('Cost Value')
plt.title('Linear Regression')
plt.show()

NameError: name 'costs' is not defined