In [54]:
import numpy as np
import pandas as pd

In [64]:
def z(w, b, x):
    return x @ w + b          # (m,n)@(n,1)

def fwbx(w, b, x):
    z_vals = z(w, b, x)
    # clip logits to avoid overflow in exp
    z_vals = np.clip(z_vals, -500, 500)
    return 1 / (1 + np.exp(-z_vals))

In [65]:
def compute_cost(x, y, w, b):
    m = x.shape[0]
    y_hat = fwbx(w, b, x)
    eps = 1e-8
    cost = -(1/m) * np.sum(
        y * np.log(y_hat + eps) +
        (1 - y) * np.log(1 - y_hat + eps)
    )
    return cost

In [67]:
def compute_gradients(x, y, w, b):
    m = x.shape[0]
    y_hat = fwbx(w, b, x)
    dz = y_hat - y
    dw = (1/m) * (x.T @ dz)
    db = (1/m) * np.sum(dz)
    return dw, db

def predict_proba(x, w, b):
    return fwbx(w, b, x)

def predict(x, w, b, threshold=0.5):
    probs = predict_proba(x, w, b)
    return (probs >= threshold).astype(int)

def logistic_regression_fit(X, y, lr=0.01, iters=1000):
    m, n = X.shape
    w = np.zeros((n, 1))
    b = 0.0
    costs = []

    for i in range(iters):
        dw, db = compute_gradients(X, y, w, b)
        w -= lr * dw
        b -= lr * db

        if i % 100 == 0:
            c = compute_cost(X, y, w, b)
            costs.append(c)
            print(f"Iter {i}: cost = {c:.4f}")

    return w, b, costs

df=pd.read_csv('dataset.csv')

df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [68]:
X = df[['Age', 'EstimatedSalary']].values   # shape (400, 2)

# Target: Purchased
y = df['Purchased'].values.reshape(-1, 1)

In [70]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

w, b, costs = logistic_regression_fit(X_scaled, y, lr=0.01, iters=3000)
y_pred_cls = predict(X_scaled, w, b)
acc = np.mean(y_pred_cls == y)
print("Training accuracy:", acc)

Iter 0: cost = 0.6918
Iter 100: cost = 0.5850
Iter 200: cost = 0.5214
Iter 300: cost = 0.4810
Iter 400: cost = 0.4535
Iter 500: cost = 0.4339
Iter 600: cost = 0.4193
Iter 700: cost = 0.4082
Iter 800: cost = 0.3993
Iter 900: cost = 0.3923
Iter 1000: cost = 0.3865
Iter 1100: cost = 0.3817
Iter 1200: cost = 0.3776
Iter 1300: cost = 0.3742
Iter 1400: cost = 0.3712
Iter 1500: cost = 0.3687
Iter 1600: cost = 0.3665
Iter 1700: cost = 0.3646
Iter 1800: cost = 0.3629
Iter 1900: cost = 0.3614
Iter 2000: cost = 0.3601
Iter 2100: cost = 0.3589
Iter 2200: cost = 0.3578
Iter 2300: cost = 0.3569
Iter 2400: cost = 0.3560
Iter 2500: cost = 0.3552
Iter 2600: cost = 0.3545
Iter 2700: cost = 0.3539
Iter 2800: cost = 0.3533
Iter 2900: cost = 0.3528
Training accuracy: 0.84

In [71]:
# fit model
w, b, costs = logistic_regression_fit(X, y, lr=0.1, iters=2000)

# predictions
y_pred_cls = predict(X, w, b)

# accuracy
accuracy = np.mean(y_pred_cls == y)
print("Training accuracy:", accuracy)

Iter 0: cost = 6.5854
Iter 100: cost = 11.8353
Iter 200: cost = 11.8353
Iter 300: cost = 6.5854
Iter 400: cost = 6.5854
Iter 500: cost = 11.8353
Iter 600: cost = 11.8353
Iter 700: cost = 6.5854
Iter 800: cost = 6.5854
Iter 900: cost = 6.5854
Iter 1000: cost = 11.8353
Iter 1100: cost = 11.8353
Iter 1200: cost = 6.5854
Iter 1300: cost = 6.5854
Iter 1400: cost = 11.8353
Iter 1500: cost = 11.8353
Iter 1600: cost = 6.5854
Iter 1700: cost = 6.5854
Iter 1800: cost = 6.5854
Iter 1900: cost = 11.8353
Training accuracy: 0.6425